<div class="container">
    <h1>Objetos de Arte</h1>
    <div class="row">
        <table class="table table-striped">
            <caption>Liste os objetos de arte comprados por tipo e por classe (emprestado ou próprio).</caption>
            <thead class="table-dark">
                <tr>
                    <th>Titulo</th>
                    <th>Tipo</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                {{#each object}}
                <tr>
                    <td>{{titulo}}</td>
                    <td>{{tipoobjart}}</td>
                    <td>{{catobjtart}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>