<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Objetos de Arte</li>
        </ol>
    </nav>
    <h1>Objetos de Arte</h1>
    <div class="row">
        <table class="table table-striped">
            <caption>Objetos de arte comprados por tipo e por classe.</caption>
            <thead class="table-dark">
                <tr>
                    <th>Ano</th>
                    <th>Coleção</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {{#each object}}
                <tr>
                    <td>{{ano}}</td>
                    <td>{{nomecolpert}}</td>
                    <td>{{total}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>