<div class="container">
    <h1>Objetos de Arte</h1>
    <div class="row">
        <table class="table table-striped">
            <caption>Liste as coleções com o maior número de empréstimos por ano.</caption>
            <thead class="table-dark">
                <tr>
                    <th>Ano</th>
                    <th>Coleção</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {{#each object}}
                <tr>
                    <td>{{ano}}</td>
                    <td>{{nomecolpert}}</td>
                    <td>{{total}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>